/*RESET */

html, body, form, div, h1, h2, table, a,
input, tr, td, label, select, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
}

input[type="number"],
input[type="text"] {
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

/* DOC STYLING */
.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
  background: #ddd;
  height: 1050px;
}

body {
  position: relative;
  font-family: 'Inconsolata', sans-serif;
  font-size: 14px;
  color: rgba(100, 52, 55, 1);
  font-weight: 200;
  min-width: 1010px;
}

h1 {
  display: block;
  font-size: 24px;
  color: #000;
  margin: 30px 50px;
  font-style: italic;
  transform:scale(1,1.5); /* W3C */
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
}

h2 {
  font-size: 17px;
  margin: 5px;
  color: #107;
}

#save-invoice, #create-new {
  position: absolute;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #000;
  border-radius: 2px;
  box-shadow: 0px -3px 0px 0px #888;
  cursor: pointer;
}

#create-new {
  left: 610px;
  top: -8px;
  color: #f00;
  z-index: 1;
}

#create-new:hover {
  color: #0c0;
}

#create-new:active {
  color: #0c0;
  top: -12px;
  box-shadow: none;
}

/* SAVED INVOICES MENU */

.saved-invoices {
  display: block;
  border: 1px solid #888;
  width: 200px;
  position: absolute;
  background: #eee;
  right: 35px;
  top: 70px;
}

.saved-invoice a {
  cursor: pointer;
}

.saved-invoice a:hover {
  font-weight: 700;
  color: #0c0;
}

.saved-invoice a:active {
  color: #f00;
}

/* FORM */

form {
  position: relative;
  margin: 20px 10px 20px 50px;
  top: 15px;
  width: 700px;
  height: 900px;
  box-shadow: 3px -3px 5px 3px #555;
  background: #eee;
  outline: 1px solid #888;
}

.form-body {
  position: absolute;
  top: 180px;
}

.form-body input {
  text-align: right;
}

#save-invoice {
  color: #107;
  position: absolute;
  display: inline-block;
  top: -259px;
  left: 470px;
}

#save-invoice:hover {
  color: #0c0;
}

#save-invoice:active {
  color: #0c0;
  top: -261px;
  box-shadow: none;
}

/* INVOICE HEADER */

.invoice-data {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  display: block;
  position: relative;
  top: 20px;
  margin: 10px;
  transform:scale(1,1.5); /* W3C */
    -webkit-transform:scale(1,1.5); /* Safari and Chrome */
    -moz-transform:scale(1,1.5); /* Firefox */
    -ms-transform:scale(1,1.5); /* IE 9 */
    -o-transform:scale(1,1.5); /* Opera */
}

.invoice-data input {
  border-bottom: 1px solid #555;
  padding: 5px;
  width: 150px;
}

#customer-name input, #agent-name input {
  border-right: 2px solid #999;
  text-transform: uppercase;
}

#agent-name input {
  margin-left: 23px;
}

#invoice-number input, #date input {
  border-left: 2px solid #999;
}

#invoice-number input {
  text-transform: uppercase;
}

.invoice-data input:focus {
  border-bottom-color: #f00;
}

.invoice-data div {
  position: absolute;
}

.invoice-data div input {
  color: #107;
}

#customer-name {
  top: 15px;
  left: 15px;
}

#agent-name {
  top: 55px;
  left: 15px;
}

#invoice-number {
  top: 15px;
  right: 15px;
}

#date {
  top: 50px;
  right: 15px;
}

/* INPUT ROW */

.input-row, .total-fields, #save-invoice {
  display: none;
}

.input-row {
  border: 1px solid #999;
  margin: 0 10px;
  background: #ddd;
}

.input-row:nth-child(n+2) {
  border-top: none;
}

.input-row div {
  float: left;
  padding: 6px 8px 4px 8px;
  width: calc(100%) + 10px;
}

.input-row .select-item {
  padding: 8px 11px 2px 11px;
}

.input-row div input {
  width: 80px;
  background: #fff;
  margin-left: 5px;
  padding: 3px 5px;
}

.input-row div select {
  width: 100px;
  background: #fff;
  margin-left: 3px;
  padding: 3px 5px;
}

.input-row div input:focus {
  outline: 1px solid #0c0;
}

.input-row div:nth-child(n+2) {
  border-left: 1px solid #999;
}

.add-item,
.remove-item {
  background: #fff;
  color: #0c0;
  font-weight: 700;
  padding: 2px 4px;
  cursor: pointer;
  outline: 1px solid #999;
}

.remove-item {
  color: #f00;
}

.add-item:hover,
.remove-item:hover {
  color: #107;
}

/* SUM-TOTAL */

#notes-label {
  color: inherit;
  vertical-align: top;
}

#notes-input {
  width: 380px;
  margin-left: 10px;
  text-align: left;
  font-size: 12px;
  height: 65px;
}

.total-fields {
  float: right;
  position: relative;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 0 10px;
  background: #ddd;
  padding: 12px 10px 6px 10px;
  width: calc(100%) + 10px;
}

.total-fields input,
.total-fields textarea {
  width: 80px;
  background: #fff;
  margin: 0 15px;
  padding: 3px 5px;
  vertical-align: middle;
}

.total-fields input {
  text-align: right;
}

.final-data {
  float: right;
  display: block;
}

.final-data div {
  display: block;
  margin: 3px;
}

.final-data input:focus {
  outline: 1px solid #0c0;
}

.sales-tax::-webkit-outer-spin-button,
.sales-tax::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sum-total-fields input {
  margin-left: 43px;
  outline: 1px solid #107;
}

.sum-total-fields label {
  color: #f00;
  font-weight: bold;
}
