/* DOC STYLING */

html, body, form, div, h1, h2, table, tr, td, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
  background: #ddd;
}

body {
  position: relative;
  font-family: 'Inconsolata', sans-serif;
  font-size: 14px;
  color: rgba(100, 52, 55, 1);
  font-weight: 200;
}

h1 {
  display: block;
  text-align: center;
  font-size: 24px;
  color: rgba(40, 100, 100, 1);
  margin: 5px;
}

h2 {
  font-size: 17px;
  margin: 5px;
  color: rgba(40, 100, 100, 1);
}

a {
  cursor: pointer;
}

a:hover {
  color: #000;
}

.saved-invoices {
  display: block;
  border: 1px solid red;
  width: 200px;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* FORM */

form {
  margin: auto;
  top: 5px;
  width: 700px;
  height: 900px;
  outline: 1px solid red;
}

.input-row, .total-fields, #save-invoice {
  display: none;
}

.total-fields {
  color: red;
  float: right;
  margin: 15px 50px 5px 5px;
  height: 1204px;
}
