/* DOC STYLING */

html, body, form, div, h1, h2, table, tr, td, a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
  background: #ddd;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  color: rgba(100, 52, 55, 1);
  font-weight: 200;
  margin: 0 auto;
  width: 904px;
}

h1 {
  display: block;
  text-align: center;
  font-size: 24px;
  color: rgba(40, 100, 100, 1);
  margin: 5px;
}

h2 {
  font-size: 17px;
  margin: 5px;
  color: rgba(40, 100, 100, 1);
}

a {
  cursor: pointer;
}

a:hover {
  color: #000;
}

.saved-invoices {
  display: block;
  border: 1px solid red;
  width: 200px;
  float: left;
}

/* FORM */

form {
  display: none;
  width: 700px;
  float: left;
}

.total-fields {
  display: block;
  color: red;
  float: right;
  margin: 15px 50px 5px 5px;
}
